<h1>New master</h1>

<% form_for(@master) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :descrizione %><br />
    <%= f.text_field :descrizione %>
  </p>
  <p>
    <%= f.submit 'Create' %>
  </p>
<% end %>

<%= link_to 'Back', masters_path %>