<tr>
  <td><%=h index_for_master.descrizione %></td>
  <td><%=h index_for_master.master_id %></td>
  <td><%= link_to 'Show', index_for_master %></td>
  <td><%= link_to 'Edit', edit_detail_path(index_for_master) %></td>
  <td><%= link_to 'Destroy', index_for_master, :confirm => 'Are you sure?', :method => :delete %></td>
</tr>
