<h1>New detail</h1>

<% form_for(@detail) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :descrizione %><br />
    <%= f.text_field :descrizione %>
  </p>
  <p>
    <%= f.label :master_id %><br />
    <%= f.text_field :master_id %>
  </p>
  <p>
    <%= f.submit 'Create' %>
  </p>
<% end %>

<%= link_to 'Back', details_path %>